@model OrderModel
@{
    ViewData["Title"] = "Order is formed";
}

<p>
    Order is formed. We started to collect it to to transfer order to the DeliveryService
</p>

<table class="table table-sm table-striped table-bordered">
    <thead class="thead-dark">
        <tr>
            <th scope="col">№</th>
            <th scope="col">Author</th>
            <th scope="col">Title</th>
            <th scope="col" class="text-center">Count</th>
            <th scope="col" class="text-center">Price</th>
        </tr>
    </thead>

    <tbody>
        @for (var i = 0; i < Model.Items.Length; i++)
        {
            <tr>
                <td class=" text-right">@(i + 1)</td>
                <td>@Model.Items[i].Author</td>
                <td>@Model.Items[i].Title</td>
                <td class="text-center">@Model.Items[i].Count</td>
                <td class="text-center">@Model.Items[i].Price</td>
            </tr>
        }
    </tbody>

    <tfoot>
        <tr>
            <td colspan="3" class=" text-right">Total</td>
            <td class=" text-center">@Model.TotalCount</td>
            <td class=" text-center">@Model.TotalPrice</td>
        </tr>
    </tfoot>
</table>

<strong>Delivery</strong>
<pre>
@Model.DeliveryDescription
</pre>

<strong>Payment</strong>
<pre>
@Model.PaymentDescription
</pre>




<p>
    <a href="@Url.Action("Index", "Home")">Back to store</a>
</p>