@model OrderModel

@{
    ViewData["Title"] = "Cart";
}

<h1>Cart</h1>

<table class="table table-sm table-striped table-bordered">
    <thead class="thead-dark">
        <tr>
            <th scope="col">№</th>
            <th scope="col">Author</th>
            <th scope="col">Title</th>
            <th scope="col" class="text-center">Count</th>
            <th scope="col" class="text-center">Price</th>
            <th scope="col"></th>
        </tr>
    </thead>
    
    <tbody>
        @for (var i = 0; i < Model.Items.Length; i++)
        {
            <tr>
                <td class=" text-right">@(i + 1)</td>
                <td>@Model.Items[i].Author</td>
                <td>@Model.Items[i].Title</td>
                <td class="text-center">@Model.Items[i].Count</td>
                <td class="text-center">@Model.Items[i].Price</td>
                <td align="center">
                    <form class="form-inline justify-content-center" action="@Url.Action("RemoveItem", "Order")" method="post">
                        <input type="hidden" name="bookId" value="@Model.Items[i].BookId" />
                        <button class="btn btn-danger text-center" type="submit" >Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>

    <tfoot>
        <tr>
            <td colspan="3" class=" text-right">Total</td>
            <td class=" text-center">@Model.TotalCount</td>
            <td class=" text-center">@Model.TotalPrice</td>
        </tr>
    </tfoot>
</table>

<p>
    To make order we need to check your mobilephone number.
    Please, input the pnone number to the field and press <em>Send code</em>. Confirmation code will be send on your mobilephone number.
</p>

<form action="@Url.Action(nameof(OrderController.SendConfirmation))" method="post">
    <input type="hidden" name="id" value="@Model.Id" />
    <div class="form-group">
        <label for="mobilePhone">Mobile phone</label>
        <input type="text" class="form-control" name="mobilePhone" placeholder="+79876543210" value="+79876543210" />
        @if (Model.Errors.ContainsKey("mobilePhone"))
        {
            <small class="form-text text-danger">@Model.Errors["mobilePhone"]</small>
        }
    </div>
    <button type="submit" class="btn btn-success">Send code</button>
</form>
